.rounded-sm {
    border-radius: 10%;
}

.rounded-lg {
    border-radius: 30%;
}

.rounded-full {
    border-radius: 50%;
}

:root {
    --pico-nav-element-spacing-vertical: 0.25rem;
    --pico-block-spacing-vertical: 0.5rem;
}

/*noinspection CssUnresolvedCustomProperty*/
.holographic {
    animation: gradient-animation 20s linear infinite;
    background: var(--pico-primary);
    background: repeating-linear-gradient(45deg, var(--pico-primary) 0, var(--pico-primary) 45%, #F9DAEA 50%, var(--pico-primary) 55%, var(--pico-primary) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    background-size: 2000px auto;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes gradient-animation {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px;
    }
}

@media (max-width: 600px) {
    section article {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    color: rgb(161 161 170);
    text-align: center;
    bottom: 0;
    padding: 0.625rem;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.footer-link {
    text-decoration-line: underline;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: rgb(161 161 170);
    text-decoration-color: rgb(161 161 170);
}
.footer-link:hover {
    color: rgb(255 255 255);
}
